{% extends 'base_back.html.twig' %}

{% block title %}nouveau Train{% endblock %}

{% block body %}
    <h1>Création d'un nouveau train</h1>

    {{ include('Back/train/_form.html.twig') }}

    <a href="{{ path('admin_train_index') }}">Retour</a>
{% endblock %}
