{% extends 'base_back.html.twig' %}

{% block title %}PA Express - Wagon{% endblock %}


{% block body %}
    <h1>Nouveau Wagon</h1>

    {{ include('Back/wagon/_form.html.twig') }}

    <a href="{{ path('admin_wagon_index') }}">back to list</a>
{% endblock %}
